/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Montserrat', sans-serif;
  background: #0b0b0b;
  color: white;
  line-height: 1.6;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("malthe-hvid-rise.JPG") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* OVERLAY */
.overlay {
  text-align: center;
  background: rgba(0,0,0,0.6);
  padding: 40px;
}

/* HERO TEXT */
.hero h1 {
  font-size: 36px;
  font-weight: 700;
}

.hero p {
  font-size: 20px;
  margin: 15px 0;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 12px 30px;
  background: #00ff88;
  color: black;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
  transition: 0.3s;

  border-radius: 8px;
  font-size: 18px;
}

.btn:hover {
  background: white;
}

/* SECTIONS */
section {
  padding: 80px 20px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* RESULTATER GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.card {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #222;
}

/* SPONSOR */
.sponsor {
  background: #111;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  background: black;
  font-size: 14px;
}
